@use '../abstracts/mixins';
@use '../abstracts/variables';

/**************/
/* KEYFRAMES */
/*************/

/* HOMEPAGE: */

// 1.Disappearing loader animation
@keyframes loader-bg {
    0% {
        opacity: 0.9;
        transform: scale(1, 1);
      }
      65% {
        opacity: 0.9;
      }
      70% {
        opacity: 0.8;
      }
      80% {
        opacity: 0.3;
      }
      99% {
        opacity: 0;
        transform: scale(1, 1);
      }
      100% {
        opacity: 0;
        transform: scale(0, 0);
      }
}

// 2.Loader container border rotation & colors change
@keyframes border-rotate {
    0%{
        transform: rotate(0);
        border-color: map-get(variables.$loader-border-color, b-purple);
    }

    33%{
        border-color: map-get(variables.$loader-border-color, b-pink);
    }

    50%{
        border-color: map-get(variables.$loader-border-color, b-green);
    }

    75%{
        border-color: map-get(variables.$loader-border-color, b-purple);
    }

    90%{
        border-color: map-get(variables.$loader-border-color, b-pink);
    }

    100% {
        border-color: map-get(variables.$loader-border-color, b-green);
        transform: rotate(1080deg);
    }
}

// 3.Loader icons apparition animation
@keyframes loader-icons {
    0% {
        transform: scale(0);
    }

    11% {
        transform: scale(1.2);
    }

    22% {
        transform: scale(1);
    }

    33% {
        transform: scale(0);
    }
}

/* RESTAURANTS: */

// 1.Foods progressive apparition on the restaurant page
@keyframes menu-slide {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    40% {
        opacity: 0.7;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

// 2.Open the sliding block for food
@keyframes select-slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

// 3.Close the sliding block for food
@keyframes close-slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

// 4.Icon rotation in sliding block for food
@keyframes icon-rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}