/* TRANSITIONS */

$transition: (
    fast: all 0.3s ease-out,
    medium: all 0.5s ease-out,
    opacity: opacity 0.8s ease-out
);

/* KEYFRAMES */

@keyframes menu-slide {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    40% {
        opacity: 0.7;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

$slide-length: (
    first: menu-slide 1.3s linear 0.3s both,
    second: menu-slide 1.3s linear 0.6s both,
    third: menu-slide 1.3s linear 0.9s both,
    fourth: menu-slide 1.3s linear 1.2s both
);

@keyframes select-slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes icon-rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}