@use '../abstracts/mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Shrikhand&display=swap');

$font-title: 'Shrikhand', cursive;
$font-text : 'Roboto', sans-serif;

body {
    font-family: $font-text;
    @include mixins.fontSize(15px);
    font-weight: 500;
    line-height: 20px;
}

a {
	text-decoration: none;
}

h1 {
    font-family: $font-title;
}