@use '../abstracts/mixins';
@use '../abstracts/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap');

body {
    font-family: variables.$font-text;
    @include mixins.fontSize(15px);
    font-weight: 500;
    color: variables.$dark;
    line-height: 20px;
}

a {
	text-decoration: none;
    color: variables.$dark;

    &:hover,
	&:focus {
		color: variables.$dark;
	}
}

.title {
    font-weight: 900;
    line-height: 1.2;

    &--big {
        @include mixins.fontSize(30px);

        @include mixins.tablet-break {
            @include mixins.fontSize(45px);
        }

        @include mixins.desktop-break {
            @include mixins.fontSize(50px);
        }
    }

    &--medium {
        @include mixins.fontSize(26px);

        @include mixins.tablet-break {
            @include mixins.fontSize(38px);
        }
    }

    &--small {
        @include mixins.fontSize(22px);

        @include mixins.tablet-break {
            @include mixins.fontSize(32px);
        }
    }

    &--shrik {
        font-family: variables.$font-title;
        font-weight: 300;
    }
}

.title-menu {
    line-height: 1;

    &--big {
        @include mixins.fontSize(28px);
    }

    &--medium {
        @include mixins.fontSize(20px);
        font-weight: 300;
        text-transform: uppercase;
    }

    &--small {
        @include mixins.fontSize(20px);
    }

    &--shrik {
        font-family: variables.$font-title;
        font-weight: 300;
    }
}

.subtitle {
    @include mixins.fontSize(21px);
    font-weight: 300;
    line-height: 1.2;

    @include mixins.tablet-break {
        @include mixins.fontSize(28px);
    }

    @include mixins.desktop-break {
        @include mixins.fontSize(32px);
    }
}

.subtitle-menu {
    @include mixins.fontSize(17px);
    font-weight: 300;
}