@use '../abstracts/mixins';
@use '../abstracts/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap');

/***********/
/* GENERAL */
/***********/
body {
    font-family: variables.$font-text;
    @include mixins.fontSize(15px);
    font-weight: 500;
    color: variables.$dark;
    line-height: 1.2;
}

a {
	text-decoration: none;
    color: variables.$dark;

    &:hover,
	&:focus {
		color: variables.$dark;
	}
}

/************/
/* HOMEPAGE */
/************/

// 1.Titles: h1 > h3
.title {
    font-weight: 900;

    &--big {
        @include mixins.fontSize(32px);

        @include mixins.tablet-break {
            @include mixins.fontSize(45px);
        }

        @include mixins.desktop-break {
            @include mixins.fontSize(50px);
        }
    }

    &--medium {
        @include mixins.fontSize(26px);

        @include mixins.tablet-break {
            @include mixins.fontSize(38px);
        }
    }

    &--small {
        @include mixins.fontSize(22px);

        @include mixins.tablet-break {
            @include mixins.fontSize(28px);
        }
    }

    &--shrik {
        font-family: variables.$font-title;
        font-weight: 300;
    }
}

// 2.Subtitle
.subtitle {
    @include mixins.fontSize(21px);
    font-weight: 300;

    @include mixins.tablet-break {
        @include mixins.fontSize(24px);
    }

    @include mixins.desktop-break {
        @include mixins.fontSize(32px);
    }
}

/************/
/* HOMEPAGE */
/************/

// 1.Titles: h1 > h3
.title-menu {
    font-weight: 900;

    &--big {
        @include mixins.fontSize(28px);

        @include mixins.tablet-break {
            @include mixins.fontSize(40px);
        }
    }

    &--medium {
        @include mixins.fontSize(20px);
        font-weight: 300;
        text-transform: uppercase;

        @include mixins.tablet-break {
            @include mixins.fontSize(25px);
        }
    }

    &--small {
        @include mixins.fontSize(20px);

        @include mixins.tablet-break {
            @include mixins.fontSize(25px);
        }
    }

    &--shrik {
        font-family: variables.$font-title;
        font-weight: 300;
    }
}

// 2.Subtitle
.subtitle-menu {
    @include mixins.fontSize(17px);
    font-weight: 300;

    @include mixins.tablet-break {
        @include mixins.fontSize(21px);
    }
}