@use '../abstracts/mixins';
@use '../abstracts/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap');

body {
    font-family: variables.$font-text;
    @include mixins.fontSize(15px);
    font-weight: 500;
    color: variables.$dark;
    line-height: 20px;
}

a {
	text-decoration: none;
    color: variables.$dark;

    &:hover,
	&:focus {
		color: variables.$dark;
	}
}

.title {
    font-weight: 900;
    line-height: 1;

    &--big {
        @include mixins.fontSize(35px);
        font-weight: 900;
    }

    &--medium {
        @include mixins.fontSize(30px);
    }

    &--small {
        @include mixins.fontSize(25px);
    }

    &--menus {
        font-family: variables.$font-title;
        @include mixins.fontSize(40px);
    }
}

.subtitle {
    @include mixins.fontSize(25px);
    font-weight: 300;
    line-height: 1;
}