@use '../abstracts/mixins';
@use '../abstracts/variables';

.localisation {
    width: 100%;
    background-color: #EAEAEA;
    margin-top: 5px;
    padding: 15px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        @include mixins.fontSize(18px);
        margin-right: 10px;

        @include mixins.tablet-break {
            @include mixins.fontSize(22px);
        }
    }

    &__input {
        width: 150px;
        background-color: #EAEAEA;
        @include mixins.fontSize(18px);
        font-weight: 700;
        padding: 5px 5px;
        border: none;
        outline: #EAEAEA;

        &::placeholder {
            color: variables.$dark;
        }

        &::-moz-placeholder {
            opacity: 1;
        }

        &:focus::placeholder {
            opacity: 0;
        }

        @include mixins.tablet-break {
            width: 185px;
            @include mixins.fontSize(22px);
        }
    }
}

.explore {
    width: 100%;
    background-color: #F6F6F6;
    padding: 50px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include mixins.desktop-break {
        flex-direction: row;
        justify-content: center;
        text-align: start;
    }

    &__head {
        padding: 15px 3%;

        @include mixins.tablet-break {
            width: 80%;
            margin: 0 auto;
        }

        @include mixins.desktop-break {
            width: 56%;
            max-width: 800px;
            margin: 0 3% 0 0;
        }
    }

    &__title {
        margin: 0 0 20px 0;
    }

    &__subtitle {
        margin: 0 0 30px 0;

        @include mixins.desktop-break {
            width: 80%;
            line-height: 1.2;
            margin: 0;
        }
    }
}

.functioning {
    width: 100%;
    padding: 50px 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        margin: 0 0 30px 0;

        @include mixins.tablet-break {
            margin: 0 auto 40px auto;
        }

        @include mixins.desktop-break {
            margin: 0 0 30px 0;
        }
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;

        @include mixins.tablet-break {
            width: 70%;
            margin: 0 auto;
        }

        @include mixins.desktop-break {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__item {
        width: 100%;
        margin-bottom: 35px;

        &:last-child {
            margin-bottom: 0;
        }

        @include mixins.desktop-break {
            width: 32%;
            margin: 0;
        }
    }
}

.restaurant {
    width: 100%;
    background-color: #F6F6F6;
    padding: 50px 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        margin: 0 0 30px 0;

        @include mixins.tablet-break {
            margin: 0 auto 40px auto;
        }

        @include mixins.desktop-break {
            margin: 0 0 30px 0;
        }
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mixins.tablet-break {
            width: 90%;
            margin: 0 auto;
        }

        @include mixins.desktop-break {
            width: 100%;
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }

    &__card {
        width: 100%;
        height: 350px;
        margin-bottom: 35px;

        &:last-child {
            margin-bottom: 0;
        }

        @include mixins.tablet-break {
            height: 450px;
        }

        @include mixins.desktop-break {
            width: 48%;

            &:nth-child(n+3) {
                margin-bottom: 0;
            }
        }
    }
}