@use '../abstracts/mixins';
@use '../abstracts/variables';
@use '../base/animations';

.cover {
    width: 100%;
    height: 300px;

    @include mixins.tablet-break {
        height: 400px;
    }

    &__picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.menu {
    position: relative;
    width: 100%;
    padding: 50px 5% 60px 5%;
    border-radius: 50px 50px 0 0;
    margin-top: -50px;
    background-color: map-get(variables.$bg-color, light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;

        @include mixins.tablet-break {
            justify-content: center;
        }
    }

    &__restaurant {
        margin: 0 3% 0 0;
    }

    &__section-container {
        width: 100%;
        display: flex;
        flex-direction: column;

        @include mixins.tablet-break {
            width: 80%;
        }

        @include mixins.desktop-break {
            width: 100%;
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }

    &__section {
        width: 100%;
        margin-bottom: 30px;

        @include mixins.desktop-break {
            width: 48%;
        }
    }

    &__title {
        position: relative;
        margin: variables.$margin-bt-item;

        &::after {
            background-color: map-get(variables.$bg-color, light-green);
            position: absolute;
            left: 0;
            bottom: -10px;
            content: "";
            width: 50px;
            height: 4px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__item {
        width: 100%;
        height: 90px;
        margin-bottom: 20px;

        @include mixins.tablet-break {
            height: 100px;
        }

        &--first {
            animation: map-get(animations.$slide-length, first);
        }

        &--second {
            animation: map-get(animations.$slide-length, second);
        }

        &--third {
            animation: map-get(animations.$slide-length, third);
        }

        &--fourth {
            animation: map-get(animations.$slide-length, fourth);
        }
    }

    &__btn {
        @include mixins.fontSize(22px);
    }
}
