@use '../abstracts/mixins';
@use '../abstracts/variables';

.cover {
    width: 100%;
    height: 300px;

    &__picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.menu {
    position: relative;
    width: 100%;
    padding: 50px 5% 60px 5%;
    border-radius: 50px 50px 0 0;
    margin-top: -50px;
    background-color: map-get(variables.$bg-color, light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    &__restaurant {
        margin: 0 3% 0 0;
    }

    &__section {
        width: 100%;
        margin-bottom: 30px;
    }

    &__title {
        position: relative;
        margin: 0 0 30px 0;

        &::after {
            position: absolute;
            left: 0;
            bottom: -10px;
            content: "";
            width: 50px;
            height: 4px;
            background-color: map-get(variables.$bg-color, light-green);;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__item {
        width: 100%;
        margin-bottom: 20px;
    }

    &__btn {
        @include mixins.fontSize(22px);
    }

}
