@use '../abstracts/mixins';
@use '../abstracts/variables';
@use '../base/animations';

/********************/
/* BUTTON COMPONENT */
/********************/
.btn {
    background: map-get(variables.$bg-color, linear-gradient);
    padding: 22px 30px;
    border: none;
    border-radius: 35px;
    @include mixins.box-shadow(light);
    @include mixins.fontSize(17px);
    color: variables.$light;

    &:hover {
        opacity: 0.85;
        transition: map-get(animations.$transition, medium);
        @include mixins.box-shadow(dark);
        cursor: pointer;
    }

    @include mixins.tablet-break {
        @include mixins.fontSize(22px);
    }

    @include mixins.desktop-break {
        @include mixins.fontSize(25px);
    }

    &--menu {
        padding: 18px 40px;
    }
}