@use '../abstracts/mixins';
@use '../abstracts/variables';

.btn {
    background: linear-gradient(175deg, variables.$secondary-color 10%, variables.$primary-color 90%);
    padding: 5% 7%;
    border: none;
    border-radius: 35px;
    box-shadow: 3px 3px 12px #adadad;
    @include mixins.fontSize(18px);
    color: #FFFFFF;

    &:hover {
        opacity: 0.85;
        transition: all 0.5s ease-out;
        box-shadow: 3px 3px 18px #3d3b3b;
        cursor: pointer;
    }
}