@use '../abstracts/mixins';
@use '../abstracts/variables';

.func-comp {
    display: flex;
    align-items: center;
    @include mixins.fontSize(20px);

    &__order {
        position: relative;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 50%;
        margin-right: -17px;
        background-color: variables.$primary-color;
        color: #FFFFFF;
        text-align: center;
    }

    &__desc {
        width: 100%;
        padding: 31px 20px 31px 25px;
        background-color: #F6F6F6;
        display: flex;
        align-items: center;
        border-radius: 30px;
        box-shadow: 3px 3px 12px #adadad;

        @include mixins.desktop-break {
            padding: 31px 5% 31px 10%;
        }
    }

    &__icon {
        @include mixins.fontSize(28px);
        color: #7E7E7E;
        margin-right: 6%;
    }

    &__txt {
        margin: 0;
    }

    &--purple {
        .func-comp__desc {
            background-color: #F5EDFF;
        }

        .func-comp__icon {
            color: variables.$primary-color;
        }
    }
}