@use '../abstracts/mixins';
@use '../abstracts/variables';
@use '../base/animations';

/**************************/
/* FUNCTIONING COMPONENT */
/************************/
.func-comp {
    display: flex;
    align-items: center;
    @include mixins.fontSize(18px);

    @include mixins.tablet-break {
        @include mixins.fontSize(25px);
    }

    @include mixins.desktop-break {
        @include mixins.fontSize(20px);
    }

    &:hover {
        .func-comp__desc {
            transition: map-get(animations.$transition, medium);
            background-color: map-get(variables.$bg-color, light-purple);
            @include mixins.box-shadow(dark);
        }

        .func-comp__icon {
            color: variables.$primary-color;
        }
    }

    &__order {
        position: relative;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 50%;
        margin-right: -17px;
        background-color: variables.$primary-color;
        color: variables.$light;
        text-align: center;
    }

    &__desc {
        width: 100%;
        padding: 31px 20px 31px 50px;
        background-color: map-get(variables.$bg-color, light-grey);
        display: flex;
        align-items: center;
        border-radius: 30px;
        @include mixins.box-shadow(light);

        @include mixins.tablet-break {
            padding-left: 60px;
        }

        @include mixins.desktop-break {
            padding: 31px 5% 31px 10%;
        }
    }

    &__icon {
        @include mixins.fontSize(28px);
        color: lighten(variables.$dark, 49.5%);
        margin-right: 6%;
    }

    &__txt {
        margin: 0;
    }
}