@use '../abstracts/mixins';
@use '../abstracts/variables';
@use '../base/animations';

/********************/
/* HEART COMPONENT */
/*******************/
.heart {
    position: relative;
    color: map-get(variables.$bg-color, light);

    &:hover {

        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 1;
        }

        &::before,
        &::after {
            transition: map-get(animations.$transition, opacity);
        }
    }

    &::before {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: variables.$dark;
    }

    &::after {
        content: "\f004";
        background: map-get(variables.$bg-color, linear-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }

    // 2.Heart for restaurant page
    &--menu {
        // @include mixins.fontSize(35px);
        color: map-get(variables.$bg-color, light-grey);
    }
}