@use '../abstracts/mixins';
@use '../abstracts/variables';

/*****************************/
/* LOADING SPINNER COMPONENT */
/*****************************/
.loader {
    position: fixed;
    background: map-get(variables.$bg-color, light);
    width: 100%;
    height: 100vh;
    opacity: 0.9;
    z-index: 2;
    animation: loader-bg 3s linear 0.5s forwards;

    &__item {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text {
        @include mixins.fontSize(65px);
        color: variables.$light;
        background: map-get(variables.$bg-color, linear-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
        padding: 0 5%;
        margin: 0;
    }

    &__container {
        position: relative;
        background: map-get(variables.$bg-color, light-purple);
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin: auto;
        text-align: center;
        @include mixins.fontSize(35px);
        transform: scale(0);

        &--purple {
            color: variables.$primary-color;
            animation: loader-icons 3s 2 ease-in-out;
        }

        &--pink {
            color: variables.$secondary-color;
            @include mixins.fontSize(30px);
            animation: loader-icons 3s 1s 2 ease-in-out;
        }

        &--green {
            color: variables.$tertiary-color;
            animation: loader-icons 3s 2s 2 ease-in-out;
        }
    }

    &__border {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: transparent;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 8px solid variables.$primary-color;
        border-left-color: map-get(variables.$bg-color, light-purple);
        animation: border-rotate 5s linear both;
    }
}
