@use '../abstracts/mixins';
@use '../abstracts/variables';
@use '../base/animations';

.menu-comp {
    background-color: map-get(variables.$bg-color, light);
    padding: 18px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 20px;
    @include mixins.box-shadow(light);
    position: relative;
    overflow: hidden;

    &:hover {
        padding-right: 90px;
        transition: map-get(animations.$transition, medium);

        .menu-comp__select {
            animation: select-slide 0.5s linear both;
        }

        .menu-comp__check {
            animation: icon-rotate 0.3s linear 0.2s both;
        }
    }

    &:not(:hover) {
        padding-right: 15px;
        transition: map-get(animations.$transition, medium);

        .menu-comp__select {
            animation: close-slide 0.5s linear both;
        }
    }

    &__desc {
        width: 80%;
        margin-right: 2%;
        overflow: hidden;
        white-space: nowrap;
    }

    &__title {
        margin: 0 0 8px 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__subtitle {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__price {
        margin-right: 15px;
        @include mixins.fontSize(18px);
        font-weight: 700;

        @include mixins.tablet-break {
            @include mixins.fontSize(21px);
        }
    }

    &__select {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 90px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: map-get(variables.$bg-color, light-green);
        border-radius: 0 20px 20px 0;
        cursor: pointer;
    }

    &__check {
        color: variables.$light;
        @include mixins.fontSize(35px);
    }
}