@use '../abstracts/mixins';
@use '../abstracts/variables';

.menu-comp {
    background-color: map-get(variables.$bg-color, light);
    padding: 18px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 20px;
    @include mixins.box-shadow(light);

    &__desc {
        margin-right: 2%;
        overflow: hidden;
        white-space: nowrap;
    }

    &__title {
        margin: 0 0 8px 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__subtitle {
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__price {
        @include mixins.fontSize(18px);
        font-weight: 700;

        @include mixins.tablet-break {
            @include mixins.fontSize(21px);
        }
    }
}