@use '../abstracts/mixins';
@use '../abstracts/variables';
@use '../base/animations';

.rest-comp {
    position: relative;
    border-radius: 20px;
    background-color: variables.$light;
    @include mixins.box-shadow(light);

    &:hover {
        transition: map-get(animations.$transition, medium);
        @include mixins.box-shadow(dark);

        img {
            transition: map-get(animations.$transition, fast);
            opacity: 0.7;
        }
    }

    &__picture {
        width: 100%;
        height: 75%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
        }
    }

    &__new {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: map-get(variables.$bg-color, light-green);
        color: variables.$green;
        @include mixins.fontSize(19px);
        padding: 10px 20px;
        border-radius: 4px;
    }

    &__desc {
        height: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
    }

    &__title {
        margin: 0 0 5px 0;
    }

    &__localisation {
        margin: 0;
        @include mixins.fontSize(20px);
        font-weight: 400;

        @include mixins.tablet-break {
            @include mixins.fontSize(26px);
        }
    }
}