@use '../abstracts/mixins';
@use '../abstracts/variables';

.restaurant-card {
    position: relative;
    width: 100%;
    height: 350px;
    margin-bottom: 35px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 1px 1px 12px #adadad;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        transition: all 0.5s ease-out;
        box-shadow: 1px 1px 20px #3d3b3b;
    }

    &__picture {
        position: relative;
        width: 100%;
        height: 70%;

        img {
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
        }
    }

    &__new {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: #99E2D0;
        color: #008766;
        @include mixins.fontSize(19px);
        padding: 10px 20px;
        border-radius: 4px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    &__title {
        margin: 0 0 12px 0;
    }

    &__localisation {
        margin: 0;
        @include mixins.fontSize(23px);
    }

    &__heart {
        position: absolute;
        bottom: 40px;
        right: 30px;
    }
}