@use '../abstracts/mixins';
@use '../abstracts/variables';

.footer {
    background-color: map-get(variables.$bg-color, dark-grey);
    color: variables.$light;
    @include mixins.fontSize(19px);
    padding: 20px 5%;

    @include mixins.tablet-break {
        @include mixins.fontSize(23px);
    }

    @include mixins.desktop-break {
        padding-bottom: 40px;
        @include mixins.fontSize(23px);
    }

    &__title {
        @include mixins.fontSize(30px);
        margin: 20px 0 30px 0;

        @include mixins.tablet-break {
            @include mixins.fontSize(40px);
            text-align: center;
        }

        @include mixins.desktop-break {
            @include mixins.fontSize(50px);
            margin-bottom: 50px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;

        @include mixins.tablet-break {
            align-items: center;
        }

        @include mixins.desktop-break {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    &__item {
        margin-bottom: 15px;
    }

    &__link {
        color: variables.$light;
        display: flex;
        flex-direction: row;
        align-items: center;

        &:hover {
            color: variables.$primary-color;
        }
    }

    &__icon {
        max-width: 15px;
        margin-right: 18px;

        @include mixins.desktop-break {
            @include mixins.fontSize(20px);
        }
    }

    &__text {
        margin: 0;
    }
}