@use '../abstracts/mixins';
@use '../abstracts/variables';

.header {
    width: 100%;
    padding: 40px 3% 20px 3%;
    box-shadow: 0 3px 6px #adadad;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        height: 40px;

        @include mixins.desktop-break {
            height: 55px;
        }
    }
}