@use '../abstracts/variables';

// TYPOGRAPHY
@function calculateRem($size) {
	$remSize: calc($size / 16px);
	@return #{$remSize}rem;
}

@mixin fontSize($size) {
	font-size: $size;
	font-size: calculateRem($size);
}

// RESPONSIVE
@mixin tablet-break {
	@media screen and (min-width: map-get(variables.$breakpoints, tablet)) {
		@content;
	}
}

@mixin desktop-break {
	@media screen and (min-width: map-get(variables.$breakpoints, desktop)) {
		@content;
	}
}