/**********/
/* FONTS */
/*********/
$font-title: 'Shrikhand', cursive;
$font-text : 'Roboto', sans-serif;

/***********/
/* COLORS */
/**********/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$light: #FFFFFF;
$dark: #000000;
$green: #008766;
$gradient: linear-gradient(175deg, $secondary-color 10%, $primary-color 90%);

// 1.Background color map
$bg-color: (
    light: $light,
    dark: $dark,
    light-grey: darken($light, 3.5%),
    medium-grey: darken($light, 8.2%),
    dark-grey: lighten($dark, 20.8%),
    light-green: $tertiary-color,
    light-purple: lighten($primary-color, 36.2%),
    linear-gradient: linear-gradient(175deg, $secondary-color 0%, $primary-color 100%)
);

// 2.Loader container border colors map

$loader-border-color: (
    b-purple: $primary-color $primary-color $primary-color map-get($bg-color, light-purple),
    b-pink: $secondary-color $secondary-color $secondary-color map-get($bg-color, light-purple),
    b-green: $tertiary-color $tertiary-color $tertiary-color map-get($bg-color, light-purple)
);

/**********/
/* SIZES */
/*********/
$padding-section: 50px 5%;
$margin-bt-item: 0 0 30px 0;

/***************/
/* RESPONSIVE */
/**************/
$breakpoints: (
    tablet: 768px,
    desktop: 992px
);