// COLORS
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$dark: #000000;

// TEXT
$font-title: 'Shrikhand', cursive;
$font-text : 'Roboto', sans-serif;

// RESPONSIVE
$breakpoints: (
    tablet: 768px,
    desktop: 992px
)
